language: generic
before_install:
  - echo 'Installing ghcup' &&
    mkdir -p ~/.ghcup/bin &&
      curl https://raw.githubusercontent.com/haskell/ghcup/master/ghcup > ~/.ghcup/bin/ghcup &&
      chmod +x ~/.ghcup/bin/ghcup &&
    echo 'Adding ghcup to path' &&
    export PATH=$PATH:$HOME/.ghcup/bin &&
    echo 'Installing ghc' &&
    ghcup install 8.6.3 &&
    echo 'Setting default ghc' &&
    ghcup set 8.6.3 &&
    echo 'Installing cabal' &&
    ghcup install-cabal && cabal v2-update &&
    ghc --version &&
    cabal --version
script:
  - ./test.sh

addons:
  apt:
    packages:
      - libnuma1
